body {
    background-color: lightblue;
    color: darkred;
}

img {
    display: block;
    height: 400px;
    margin: 10px;
    padding-top: 20px;
    position: relative;
    animation-name: ;
    animation-duration: infinite;
}

header {
    display: block;
    padding-bottom: 10px;
}